    * {
        margin: 0;
        outline: 0;
        padding: 0;
    }
    
    .bg-image {
        background-image: url('../img/fondo.jpg') !important;
        background-size: cover;
        backdrop-filter: blur();
        padding: 0px !important;
    }
    
    .bg-semi-transparent {
        background-color: rgba(255, 255, 255, 0.658) !important;
    }
    
     ::-webkit-scrollbar {
        display: none;
    }
    /*-----------------------Margins-------------------------------*/
    
    .mt-d02 {
        margin-top: -0.2%;
    }
    
    .mt-d1 {
        margin-top: -1%;
    }
    
    .mt-d2 {
        margin-top: -2%;
    }
    
    .mt-d3 {
        margin-top: -3%;
    }
    
    .mt-d5 {
        margin-top: -5%;
    }
    
    .mt-5 {
        margin-top: 5%;
    }
    
    .mt-10 {
        margin-top: 10%;
    }
    
    .mt-15 {
        margin-top: 15%;
    }
    
    .mt-20 {
        margin-top: 20%;
    }
    
    .mt-25 {
        margin-top: 25%;
    }
    
    .mt-30 {
        margin-top: 30%;
    }
    
    .mt-35 {
        margin-top: 35%;
    }
    
    .mt-40 {
        margin-top: 40%;
    }
    
    .mt-45 {
        margin-top: 45%;
    }
    
    .ml-5 {
        margin-left: 5%;
    }
    
    .ml-10 {
        margin-left: 10%;
    }
    
    .ml-20 {
        margin-left: 20%;
    }
    
    .ml-35 {
        margin-left: 35%;
    }
    
    .ml-40 {
        margin-left: 40%;
    }
    /*------------------------------------Bordes-------------------------------------*/
    
    .border-left-orange {
        border-left: 0.25rem solid #dc7633 !important;
    }
    
    .border-left-blue {
        border-left: 0.25rem solid #3498db !important;
    }
    
    .border-left-purple {
        border-left: 0.25rem solid #7d30e2b7 !important;
    }
    
    .border-left-pink {
        border-left: 0.25rem solid #e91e63 !important;
    }
    
    .border-left-brown {
        border-left: 0.25rem solid #795548 !important;
    }
    
    .border-left-pink-white {
        border-left: 0.25rem solid #f06292 !important;
    }
    
    .border-left-green-dark {
        border-left: 0.25rem solid #45b39d !important;
    }
    
    .border-left-yellow {
        border-left: 0.25rem solid #c0ca33 !important;
    }
    /*----------------------------------- ALERTS------------------------------------ */
    /* inspired by Twitter Bootstrap */
    
    .alert {
        padding: 15px;
        margin-bottom: 20px;
        border: none;
        border-radius: 4px;
        position: fixed;
        bottom: 0px;
        right: 21px;
        float: right;
        clear: right;
        background-color: white;
        z-index: 8000;
    }
    
    .alert-red {
        color: white;
        background-color: #DA4453;
    }
    
    .alert-green {
        color: white;
        background-color: #37BC9B;
    }
    
    .alert-blue {
        color: white;
        background-color: #4A89DC;
    }
    
    .alert-yellow {
        color: white;
        background-color: #F6BB42;
    }
    
    .alert-orange {
        color: white;
        background-color: #E9573F;
    }
    /*------------------------WIDTHS--------------------*/
    
    .col-lg-sm {
        max-width: 9.9%;
    }
    
    .w-responsive {
        width: 75% !important;
    }
    /*-------------------------BACKGROUNDS------------------------------*/
    
    .bg-gray {
        background-color: #d6dbdf;
    }
    
    .bg-gradient-blue-dark {
        background-color: #28225c;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #28225c), to(#28225c));
        background-image: linear-gradient(180deg, #28225c 10%, #28225c 100%);
        background-size: cover;
    }
    /*----------------------------Textos-----------------------------------*/
    
    .text-decoration-none {
        text-decoration: none !important;
    }
    
    .text-orange {
        color: #dc7633 !important;
    }
    
    .text-blue {
        color: #3498db !important;
    }
    
    .text-purple {
        color: #7d30e2b7 !important;
    }
    
    .text-pink {
        color: #e91e63 !important;
    }
    
    .text-brown {
        color: #795548 !important;
    }
    
    .text-pink-white {
        color: #f06292 !important;
    }
    
    .text-green-dark {
        color: #45b39d !important;
    }
    
    .text-yellow {
        color: #c0ca33 !important;
    }
    
    .bg-blue-transparent {
        background-color: rgb( 84, 153, 199, 0.2);
    }
    /*----------------------------Cursor--------------------------------------*/
    
    .cursor-pointer {
        cursor: pointer !important;
    }
    /*-----------------RESPONSIVE---------------------------*/
    
    @media screen and (min-width: 1024px) {
        .w-responsive {
            width: 50% !important;
        }
        #accordionSidebar {
            width: 9% !important;
            transition: width 1s;
        }
        #accordionSidebar:hover {
            width: 15% !important;
        }
    }
    
    @media screen and (-webkit-min-device-pixel-ratio:0) {
        .modal {
            height: auto !important;
        }
    }